.icon-box{
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* CÍRCULO MÁS GRANDE Y CENTRADO */
.icon-box img{
    width:180px;          /* MÁS GRANDE */
    height:180px;         /* MÁS GRANDE */
    border-radius:50%;
    border:6px solid #d4af37;
    object-fit:cover;     /* CENTRA LA IMAGEN */
    object-position:center; /* CENTRADO PERFECTO */
    transition:0.3s;
}

/* EFECTO */
.icon-box img:hover{
    transform:scale(1.08);
}

/* TEXTO */
.icon-box span{
    margin-top:12px;
    font-size:18px;
    font-weight:bold;
    color:#0f2d3f;
}
