.container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:40px;
    padding:50px;
    justify-items:center;
}

/* ICONO MUCHO MÁS GRANDE */
.icon-box img{
    width:140px;
    height:140px;
    border-radius:50%;
    border:6px solid #d4af37;
    object-fit:cover;
    transition:0.3s;
}

.icon-box img:hover{
    transform:scale(1.1);
}

.icon-box span{
    margin-top:12px;
    font-size:16px;
    font-weight:bold;
    color:#0f2d3f;
    text-align:center;
}
